<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Pokémon</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeAPI - Prueba técnica</title>
    <!--normalize-->
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
    <!--css-->
    <link rel="stylesheet" href="../assets/styles.css">
    <!--bootstrap-->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
     <!--ico-->
     <link rel="icon" href="../assets/images/ico.png">
</head>
<body class="body2">
    
    <div class="container-fluid header sticky-top">
        <div class="row">
            <div class="col-lg-1"> </div>
            <div class="col-lg-10">
                <img src="../assets/images/logo.png" alt="Logo pokeapi" class="img-fluid img-responsive img-logo">
            </div>
            <div class="col-lg-1 text-center">
                <br>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                        <i class="fas fa-bars burguer"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Menú dropdown de prueba</a></li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container"> 
        <div class="row">           
                       
            <div class="col-lg-8 " style="height: auto; display: flex; align-items: center;">
                <table class="table table-bordered bg-light p-3 text-center" style="border-radius: 10px;">
                    <thead>
                        <tr >
                            <th colspan="6">Pokemon name</th>
                        </tr>                       
                    </thead>
                    <tbody>
                        <tr>
                            <td width="25%">
                                Type
                            </td>
                            <td colspan="5">Ground | Normal</td>
                        </tr>
                        <tr>
                            <td width="25%">Egg group</td>
                            <td colspan="5"> Monster</td>
                        </tr>
                        <tr>
                            <td width="25%">Habilities</td>
                            <td colspan="5">Prankster | Clorophile | Expert</td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem amet ipsa adipisci. Quis inventore, id eligendi voluptatibus molestias molestiae error dolore itaque alias sapiente recusandae suscipit quidem ratione sed ab.
                            </td>
                        </tr><hr>
                        <tr>
                            <td width="16%">HP</td>
                            <td width="16%">Atk</td>
                            <td width="16%">Def</td>
                            <td width="16%">SpA</td>
                            <td width="16%">SpD</td>
                            <td width="16%">Spe</td>
                        </tr>
                        <tr>
                            <td>100</td>
                            <td>25</td>
                            <td>150</td>
                            <td>40</td>
                            <td>49</td>
                            <td>175</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

            <div class="col-lg-4" style="height: auto; display: flex; align-items: center;">
                <img src="../assets/images/poke1.png" alt="" style="display: block; margin: 0 auto; width: 300px;">
                <br>
                
            </div>

        </div>
    </div>





    <script src="../js/script.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
</body>
</html>