/*Variables*/
:root{
    --color1: #cc0e0e;
    --color2: #1d579a;
    --water: #1C6DD0;
    --flying: #A3E4DB;
    --normal: #BBBFCA;
    --ice: #00C1D4;
    --gray: #BFA2DB;

}

/*Global styles*/
*{
    box-sizing: border-box;
}

.body{
    /*        
    background-image: url('./images/fondo5.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;    
    
    */
    font-family: 'Raleway', sans-serif;
}
.body2{
    background-image: url('../assets/images/fondo7.png');
    background-size: 100% 100%;
    background-attachment: fixed;    
    font-family: 'Raleway', sans-serif;
    background-color: var(--ice);
}
/*Menu*/
.header{
    background-color: var(--color1);
    padding: 5px;
    height: auto;
}
.img-logo{
    width: 175px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.burguer{
    font-size: 1.5em;
    padding: 5px;
    color: white;
}
.pokeMenu{
   padding: 5px;
}
.pokeMenu a{
    color: var(--color2);
 }
.pokeMenu:hover{
    background-color: var(--color1);
    border-radius: 5px;
    
}
.pokeMenu a:hover{
    color: white;
}


/*cards*/
.pokemonData{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}
.cards1{ 
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    transition: all .3s;
    border: 1px solid var(--gray);
    transition: all .2s ease-in-out; 
}
.img-pokemon{
    border-radius: 10px 10px 0px 40px;
    width: 99%;
    height: auto;
    background-color: var(--color2);
    
  
}
.cards1 .btn-grass{
    background-color: var(--grass);
    padding: 4px 15px;
    color: white 
}
.cards1 .pokename{
    text-transform: capitalize;
}

.cards1:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.color-gray{
    color: var(--gray);
}




/*Footer*/
.footer{
    background-color: white;
    padding: 10px;
    text-align: center;
    
}
.footer .redes i{
    font-size: 2em;
    color: var(--color1);
    margin: 5px;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none !important;
}








/*MOVIL*/
@media (max-width: 576px) {
    .img-pokemon{
        border-radius: 10px;
        width: 125%;
        height: auto;
      
    }
    .cards1{    
        padding: 5px;
        background-color: var(--color2);
        border-radius: 10px;
        color:white;
    }
    .cardF{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
}












